// Place all the styles related to the Admins/Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}
 
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container{
    width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}

.row{
      width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}
.col-lg-8{
        width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}
.table table-hover table-inverse{
        width: 200px;
  margin: 0 auto;
  padding: 50px 0;
}
.table{
   margin:  auto;
   padding: 50px;
}
.image_input_btn{
    display: block;
    width: 180px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    padding-top: 2px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.image_form{
    display: none;
}

.btn-circle-3d {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #668ad8;
  transition: .4s;
}

.btn-circle-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}
