<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>ご購入ありがとうございました！</h1>
  <br>
  <br>
  <%= link_to "＜＜　注文一覧へ",orders_path %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>