// Place all the styles related to the Customers/Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.items{
  width:100%;
}
.flex_test-box{
  display: flex;
  flex-wrap: wrap;
}
.flex_test-item{
  width: 10%;
   margin-left: 0px;
}
.flex_item-image{
  padding-left: 0px 0px;
}
.items_show{
  padding-top: 30px;

}
.item_show_text{
   padding-top: 30px;
}