// Place all the styles related to the Customers/Ships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ship_table tr {
  border: 1px solid;
  width: 70%;
}

.ship_table th {
  border: 1px solid;
  background-color: #EEEEEE;
}

.ship_table td {
  border: 1px solid;
}

.ship_table td:nth-child(4) {
  text-align: center;
}

.field {
  margin-bottom: 10px;
}