    <table class="table table-hover">
      <thead class="thead-lignt">
        <tr>
          <th>ジャンル検索</th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
          <% if genre.is_active == false %>
          <tr>
            <td><%= link_to genre.name, items_path(genre_id: genre.id) %></td>
          </tr>
          <% end %>
        <%end %>
      </tbody>
    </table>