<h4>商品一覧</h4>
（全<%=@items.count%>件）

<div>
	<% @items.each do |item| %>
	<%= attachment_image_tag item, :image, :fill, 250, 200, format: 'jpeg', fallback: "cake.png", size:'250x200' %>
	<p><%= item.name %></p>
	<p>¥<%= item.price %></p>
	<% end %>
</div>