  <div class="main-visual">
      <p class="mainvi-vi">ようこそ、NaganoCakeへ！</p>
      <p class="mainvi-p">このサイトは、ケーキ販売のECサイトになります。
        会員でない方も商品の閲覧はできますが、
        購入には会員登録が必要になります。</p>
  </div>

<h1>おすすめ商品</h1>
<table>
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        <% @push_items.each do |f| %>
        <tr>
            <td>
                <%= f.name %>
            </td>
            <td>¥
                <%= f.price %>
            </td>
            <% end %>
        </tr>
    </tbody>
</table>
<%= link_to "もっと見る",items_path %>


<!-- ここからプロフィール -->
    <div class="profile">
        <div id="profile"></div>
        <div class="container">
            <h2 class="heading">Profile</h2>
            <div class="ander"></div>
            <p class="heading-p">It is a long established fact that a reader will be distracted by the readable<br>
                content of a page when looking at its layout.<br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>

            <div class="prof-group">
                    <div class="left-content">
                        <div class="my-icon"></div>
                    </div>
                <div class="prof-vi">
                <h3 class="feature-title">MyName</h3>
                <p class="heading-p">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>

                <h3 class="feature-title">MySkills</h3>
                <p class="heading-p">HTML/CSS,JavaScript,JQuery,PhotoShop</p>
            </div>

            </div>
        </div>
    </div>
    <!-- ここまでプロフィール -->
おいしくお召し上がりいただくために
ご注文いただき誠にありがとうございます。
最高級の食材を贅沢に使った洋菓子を、
よりおいしくお召し上がりいただくために、
こだわりチルド便にて宅配いたします。
冷蔵庫に5～6時間以上置くと
食べ頃になります
お急ぎの場合は、
ケーキ箱を開封せず涼しい室温に２時間ほど置くと食べごろになります。
１日冷蔵庫に置くと味が馴染んで一層おいしくお召し上がりいただけます。
解凍後は７℃以下の冷蔵庫で保存の上、２日以内にお召し上がりください。