/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";


.flex_test-box {
    padding:  10px;             /* 余白指定 */
    display: flex;              /* フレックスボックスにする */
}

.flex_test-item {
    padding: 10px;
    margin:  30px;              /* 外側の余白 */
    border-radius:  5px;        /* 角丸指定 */
    width: 15%;                 /* 幅指定 */
}


/*customerのtopページのメインビジュアル*/
.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(cake2.jpg);
  background-size: cover;
}

p.mainvi-vi {
  font-size: 64px;
  color: #FAFAFA;
  margin-bottom: 10px;
  padding-top: 200px;
  text-align: center;
}

p.mainvi-p {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
  position: relative;
  z-index: 10;
}
.main{
  width: 100%;
  background-color: #ECEFF1;
  color: #000000;

}
.main-container{
  width: 920px;
  margin:auto auto;
  text-align: center;
  padding: 0px 0 90px 0;
}

.heading{
  padding-top: 90px;
  text-align: center;
}

.heading-p{
  text-align: center;
  padding: 10px 100px 10px 10px;
}

.ander {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}


/*topの5つの写真*/
[class^="topimg-flex-5"] {
  margin: 0px 0px 10px 0px;
  display: -webkit-flex;
  display: flex;
  border: 0px solid #ddd;
  margin: 0 auto;
  overflow: hidden;
}
[class^="topimg-flex-5"] img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.5s;
}
[class^="topimg-flex-5"] img:hover{
  transform: scale(1.4) rotate(9deg);
  transition-duration: 0.8s;
}
.topimg-flex-1 img { width: calc( 100% / 1 ); }
.topimg-flex-2 img { width: calc( 100% / 2 ); }
.topimg-flex-3 img { width: calc( 100% / 3 ); }
.topimg-flex-4 img { width: calc( 100% / 4 ); }
.topimg-flex-5 img { width: calc( 100% / 5 ); }
/*topの5つの写真*/

/*お勧めのケーキ*/

div.sample1 {
width:500px; height:500px;
border:none;
background-image:url(cake4.jpg);
background-size:cover;
float: left;
margin:0px 10px 0px 0px;
padding: 11px;
}
.sample2 {
position: relative;/*相対配置*/
width:500px; height:500px;
border:none;
background-color: white;
border-radius: 60%;
background-size:cover;
float: left;
margin:0px 100px 0px 0px;
padding: 11px;
}
.sample2 p {
  position: absolute;/*絶対配置*/
  font-size: 1em;
  top: 15%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
p.sample2text2 {
  font-size: 1em;
  top: 50%;
  left: 50%;
  word-break: break-all;
}

div.sample3 {
position: relative;/*相対配置*/
width:500px; height:500px;
border:none;
background-color: white;
border-radius: 50%;
background-size:cover;
float: left;
margin:0px 10px 0px 0px;
padding: 11px;
}
.sample3 p {
  position: absolute;/*絶対配置*/
  font-size: 1em;
  top: 15%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
p.sample3text2 {
  font-size: 1em;
  top: 50%;
  left: 50%;
  word-break: break-all;
}

div.sample4 {
width:500px; height:500px;
border:none;
background-image:url(cake5.jpg);
background-size:cover;
float: left;
margin:10px 10px 0px 0px;
padding: 11px;

}

.sample:nth-child(2n) {
    margin-right: 0;
}
.sample:nth-child(-n+2) {
    margin-top: 0;
}


/*お召し上がりいただくために*/
.profile {
  width: 100%;
  background-color: #ECEF;
  padding-bottom: 90px;
}

.left-content {
    width: 50%;
    float: left;
}

.prof-vi{
  text-align: left;
}


h3.feature-title{
  margin-bottom: 5px;
  font-size: 20px;
}


/*コンタクト*/
.contact {
  width: 100%;
  margin-bottom: 90px;
  text-align: center;

}
.contact-left{
  width: 50%;
  float: left;
}
.contact-right{
  width:50%;
  float: left;
}

.social i {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 60px;
}

