<h1>注文詳細画面</h1>

<p>購入者</p>
<%= @order.customer_id %>
<p>配送先</p>
<%= @order.ship_address %>
<p>支払い方法</p>
<%= @order.pay_method %>
<p>注文ステータス　</p>


<%= select :pay_metod,[['販売中',true],['売り切れ',false]],{include_blank: '--選択してください--'},:class=> 'item_f.select' %>

